.jumbotron {
	position: relative;
	background: #000;
	width:100%;
	height: 100%
	background-size: cover;
	overflow: hidden;

}

footer {
	padding: 10px 10px 0 10px;
	background-color: black;
	margin-bottom: 0px;
	margin-top: 10px
}

.card-servicios {
	flex: 1 200px;
	margin-top: 10px
	}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}
.footer-address-icon{
	padding-right: 10px

}
	

}